<div id="popup" class="popup">
   <!-- Хай воно буде так, бо воно матюкаеться в консолі -->
   <button type="button" class="popup-close close-popup" id="closeModal" style="display: none;">
      <svg class="btn-close">
          <use href="../img/sprite.svg#icon-closed"></use>
      </svg>
   </button> 
   <!-- а це є сама структура модальної картки -->
   <!-- <div class="popup-body">
      <div class="popup-content">
         <button type="button" class="popup-close close-popup" id="closeModal">
            <svg class="btn-close">
                <use href="../img/sprite.svg#icon-closed"></use>
            </svg>
         </button> 
         <div class="popup-block">
            <div class="popup-block-img">
               <img src="" alt="" srcset="" class="imgId">
            </div>
            <h3 class="popup-block-title">Pumpkin</h3>
            <div class="popup-block-info">
               <div class="order">
                  <h5 class="popup-block-info-param">Category:<span class="info-param-value">Fresh Produce</span></h5>
                  <h5 class="popup-block-info-param">Size:<span class="info-param-value">1 medium-sized</span></h5>
               </div>
               <h5 class="popup-block-info-param">Popularity:<span class="info-param-value">0</span></h5>
            </div>
            <p class="popup-block-p">A round, orange vegetable with a thick shell and seeds inside. It is often used in cooking and baking for its sweet and earthy flavor.</p>
            <div class="popup-block-price">
               <h3 class="popup-block-price-h3">$2.99</h3>
               <button type="button" class="btn-styles">Add to
                  <svg width="14" height="14" > 
                     <use href="./img/sprite.svg#icon-basket" > </use > 
                  </svg >
               </button>
            </div>
         </div>
         
      </div> 
   </div> -->
</div> 
<script type="module" src="../js/popap.js"></script>