.popup {
   width: 100%;
   height: 100%;

   background-color: rgba(0, 0, 0, 0.8);

   position: fixed;
   top: 0;
   left: 0;

   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;

   display: none;
}
.is-hiden{
   opacity: 0;
   visibility: hidden;
}


.popup.open {
   opacity: 1;
   visibility: visible;
}

/* .popup.open .popup-content {
   transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
   opacity: 1;
} */


 .popup-body {
   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 20px;
   background: #FAFAFA;
   padding: 40px 20px;
   transition: all 0.8s ease 0s;

   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   width: 335px;
} 

 .popup-content {
   background-color: #fff;
   color: #000;
   max-width: 800px;
   transition: all 0.8s ease 0s;
} 

.popup-close {
   position: absolute;
   right: 17px;
   top: 14px;
   font-size: 20px;
   color: #000;
   text-decoration: none;
   width: 22px;
   height: 22px;
}

.btn-close{
   width: 22px;
   height: 22px;
}
/* Це стилі до самої модальної картки */
.popup-block-img {
   border-radius: 10px;
   background: #E8E8E2;
   width: 295px;
   height: 212px;
   margin-top: 4px;
}

.popup-block-title {
   color: #010101;
font-family: Neue Montreal;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 111.111% */
margin-top: 20px;
}
.popup-block-info{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}
.order{
   display: flex;
}
.popup-block-info-param {
   color: rgba(1, 1, 1, 0.30);
font-family: Neue Montreal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
}
.order>.popup-block-info-param {
   margin-right: 8px;
   margin-bottom: 9px;
}
.info-param-value {
   color: #010101;
font-family: Neue Montreal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
}
.popup-block-p {
   color: rgba(1, 1, 1, 0.70);
font-family: Neue Montreal;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
margin-top: 20px;
}
.popup-block-price {
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.popup-block-price-h3 {
   color: #010101;
font-family: Neue Montreal;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 111.111% */
}

